.flexBlock {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.flex1 {
  flex: 1;
}
.inlineBlock {
  display: inline-block;
}
.clear {
  clear: both;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.alignRight {
  text-align: right!important;
}
.icon {
  display: inline-block;
}
.navLi {
  padding-top: 7px;
}
.navLi img {
  display: block;
  margin: 2px auto;
}
.navLi .navTheme {
  line-height: 26px;
  height: 26px;
  font-size: 16px;
  padding: 0 10px;
  color: #ffffff;
}
.air-info1 .air-info {
  position: relative;
}
.right_des {
  width: 300px;
}
.right_des .name {
  font-size: 18px;
  line-height: 22px;
  margin-top: 7px;
  color: #333;
  padding-top: 7px;
  text-align: center;
}
.right_des .dec_ul {
  margin-top: 58px;
  padding: 0 35px;
}
.right_des .dec_ul .dec_li {
  margin-top: 30px;
  height: 52px;
  line-height: 26px;
  font-size: 14px;
}
.right_des .orange {
  color: #ff9900;
}
.pieTu_con .pieTu_con_center {
  width: 170px;
  margin: 0 auto;
}
.pieTu_con .CompRateCanvas {
  width: 170px;
  height: 170px;
  margin-bottom: 18px;
  margin-top: 23px;
}
.pieTu_con .PieTuDes {
  font-weight: 700;
  line-height: 30px;
}
.downIcon,
.upIcon {
  width: 11px;
  height: 13px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.downIcon {
  background: url(../images/index/yyl_down.png) no-repeat;
  background-size: 100% 100%;
}
.upIcon {
  background: url(../images/index/yyl_up.png) no-repeat;
  background-size: 100% 100%;
}
/*声环境质量*/
.water-left,
.noise-left {
  width: 55%;
}
.water-right,
.noise-right {
  width: 45%;
}
.noise-info1 {
  height: 310px;
}
.noise-info1 .pieTu_con {
  position: relative;
}
.noise-info1 .orangeback {
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: #eec60a;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rightDes {
  width: 260px;
  border-left: 1px solid #e3e3e3;
}
.rightDes .noiseLi {
  height: 103px;
  padding: 30px 0 30px 20px;
}
.rightDes .item {
  font-size: 16px;
}
.rightDes .noiseLi + .noiseLi {
  border-top: 1px solid #e3e3e3;
}
.rightDes .quliIcon,
.rightDes .numIcon,
.rightDes .lengIcon {
  width: 30px;
  height: 30px;
  position: relative;
  top: 9px;
}
.rightDes .quliIcon {
  background: url(../images/index/u2077.png) no-repeat;
  background-size: 100%;
}
.rightDes .numIcon {
  background: url(../images/index/u2073.png) no-repeat;
  background-size: 100%;
}
.rightDes .lengIcon {
  background: url(../images/index/u2075.png) no-repeat;
  background-size: 100%;
}
.noise-info1 .pieTu_con {
  padding: 0 20px;
}
.noise-info2,
.noise-info3 {
  padding: 0 20px;
}
.noise-echarts1,
.noise-echarts2,
.noise-echarts3 {
  width: 100%;
  height: 305px;
}
